/*<span class="cell-value cell-value1">*/
/*<input type="checkbox" class="my-switch-button custom-class" id="is_notify" onclick="handleNotify(this)">*/
/*<label for="is_notify"></label>*/
/*</span>*/

/* $('.my-switch-button').prop('checked', true)
  function handleNotify(btn) {
    console.log(btn);
    console.log($(btn).is(':checked'));
    console.log($(btn).prop('checked'));
  } */

.my-switch-button{
  display: none;/*隐藏表单元素*/
}
.my-switch-button+label{/*+选择器选择紧跟“+”左边选择器的第一个元素*/
  display: inline-block;
  position: relative;
  transition: all .3s;
  width: 60px;
  height: 30px;
  border: 1px solid #999;
  border-radius: 15px;
  background-color: #ccc;
  cursor: pointer;
}
.my-switch-button:checked+label{/*选中表单后的样式，:checked表示checkbox被选中后的状态*/
  background-color: #409eff;
}
.my-switch-button+label::before{/*使用伪元素生成一个按钮*/
  content: '';
  display: block;
  height: 25px;
  width: 25px;
  position: absolute;
  border-radius: 25px;
  left: 2px;
  top: 2px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  transition: all .3s;
}
.my-switch-button:checked+label::before{/*checkbox选中时按钮的样式*/
  left: 32px;
  transition:  all .2s linear;
}